{% extends 'base.html' %}

{% block title %}
    DetailTodo
{% endblock %}

{% block content %}
    <div>
        <h1>Detail Todo</h1>
        <p>id: {{todo.pk}}</p>
        <p>title: {{todo.title}}</p>
        <p>description: {{todo.description}}</p>
        <p>status: {{todo.get_status_display}}</p>
        <p>created date: {{todo.created_at|date:'Y/m/d H:i:s A T'}}</p>
        <a href="{% url 'todos:delete' todo.pk %}">Delete</a> 
        <button type="button" onclick="history.back()">Back</button>
    </div>
{% endblock %}